.item {
    width:  1024px;
    height: auto;
    border: 5px solid #2b2521;
    border-radius: 10px 10px 10px 10px;  
    background: rgba(178, 211, 238, 0.781);
    padding: 25px;
    margin: 25px; 
    text-align: left;
    font-weight: bold;
}
.blok_1 {
    text-align: center;
    margin: 15px;   
}
.blok_2 {
    margin: 20px;   
}

.btn {
    text-align: right;
    padding: 10px;
}