.item {
    width:  1024px;
    height: auto;
    border: 5px solid black;
    border-radius: 10px 10px 10px 10px;  
    background: rgba(160, 203, 238, 0.781);
    margin: 25px;
    padding: 25px;
}

.btn {
    text-align: right;
    padding: 10px;
}